@using DeltaSports_BarGrill.Models
@model dashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Name to your dashboard.</title>
    <link rel="stylesheet" href="~/css/Dashboard.css">

</head>

<body>
    <h1>Success!</h1>
    <a href="/logout">Logout</a>

    <div class="newCategory-container">
        <h1>Add new Categroy</h1>
        <partial name="foodCategoryParcial" model="@Model.FoodCategory">
            <ul>
                @foreach (var item in @ViewBag.allFoodCategories)
                {
                    <li>
                        <p>@item.CategoryTitle</p>
                        <a href="/delete/@item.FoodCategoryId"><button>delete</button></a>
                        <a href="/update/@item.FoodCategoryId"><button>edit</button></a>

                    </li>
                }
            </ul>

    </div>
</body>

</html>