@using DeltaSports_BarGrill.Models
@model FoodCategory

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Name to your dashboard.</title>
</head>

<body>
    <div>
        <form asp-action="CreateCategory" asp-controller="Home" method="Post">
            <input 
            asp-for="CategoryTitle"
            placeholder="+ category">

            <input type="submit" value="submit">
        </form>
    </div>
</body>

</html>