@using DeltaSports_BarGrill.Models
@model User

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="regHeader_container">
        <h1>Delta Sports Bar and Grill</h1>
        <a href="/signin">Sign in.</a>


    </div>



</body>

</html>