@using DeltaSports_BarGrill.Models
@model LoginUser

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <h1>Log in to your account</h1>
    <a href="/registration">Registration</a>
    <form asp-action="Login" asp-controller="Home">

        <span asp-validation-for="Email"></span>
        <input asp-for="Email" placeholder="Email">
        <input asp-for="Password" placeholder="Password">

        <input type="submit" value="submit">
    </form>
    <div>
        <h1>svg shape generator</h1>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#5000ca" fill-opacity="1"
                d="M0,224L48,192C96,160,192,96,288,101.3C384,107,480,181,576,229.3C672,277,768,299,864,282.7C960,267,1056,213,1152,160C1248,107,1344,53,1392,26.7L1440,0L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>

    </div>

</body>

</html>